@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src:url('../font/eot/iranyekanwebbold.eot');
    src:url('../font/eot/iranyekanwebbold.eot?#iefix')format('embedded-opentype'),
      url('../font/woff/iranyekanwebbold.woff') format('woff'),
      url('../font/ttf/iranyekanwebbold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('../font/eot/iranyekanwebthin.eot');
    src: url('../font/eot/iranyekanwebthin.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanwebthin.woff') format('woff'),
      url('../font/ttf/iranyekanwebthin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../font/eot/iranyekanweblight.eot');
    src: url('../font/eot/iranyekanweblight.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanweblight.woff') format('woff'),
      url('../font/ttf/iranyekanweblight.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../font/eot/iranyekanwebregular.eot');
    src: url('../font/eot/iranyekanwebregular.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanwebregular.woff') format('woff'),
      url('../font/ttf/iranyekanwebregular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../font/eot/iranyekanwebmedium.eot');
    src: url('../font/eot/iranyekanwebmedium.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanwebmedium.woff') format('woff'),
      url('../font/ttf/iranyekanwebmedium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('../font/eot/iranyekanwebextrabold.eot');
    src: url('../font/eot/iranyekanwebextrabold.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanwebextrabold.woff') format('woff'),
      url('../font/ttf/iranyekanwebextrabold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('../font/eot/iranyekanwebblack.eot');
    src: url('../font/eot/iranyekanwebblack.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanwebblack.woff') format('woff'),
      url('../font/ttf/iranyekanwebblack.ttf') format('truetype');
  }
  
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url('../font/eot/iranyekanwebextrablack.eot');
    src: url('../font/eot/iranyekanwebextrablack.eot?#iefix')
        format('embedded-opentype'),
      url('../font/woff/iranyekanwebextrablack.woff') format('woff'),
      url('../font/ttf/iranyekanwebextrablack.ttf') format('truetype');
  }
  