///font
$mainFont:iranyekan;
$secondFont:Sahel;
$fontsize:13px;
$fontweight:normal;
/// color


//green
$green100:#008B9A;
$green200:#12373b;
$green300:#038896;

//gray
$gray100:#efefef;
$gray200:#ededed;
$gray300:#7c7c7c;
$gray400:#e5e5e5;
$gray500:#e3e3e3;
$gray600:#b2b2b2;
$gray700:#f2f2f2;

//blue
$blue100:#213645;
$blue200:#00adb5;
$blue300:#235087;
$blue400:#1e384b;
$blue500:#10265D;
$white:#fff;

