@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../font/eot/iranyekanwebbold.eot");
  src: url("../font/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebbold.woff") format("woff"), url("../font/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../font/eot/iranyekanwebthin.eot");
  src: url("../font/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebthin.woff") format("woff"), url("../font/ttf/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../font/eot/iranyekanweblight.eot");
  src: url("../font/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanweblight.woff") format("woff"), url("../font/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../font/eot/iranyekanwebregular.eot");
  src: url("../font/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebregular.woff") format("woff"), url("../font/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../font/eot/iranyekanwebmedium.eot");
  src: url("../font/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebmedium.woff") format("woff"), url("../font/ttf/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../font/eot/iranyekanwebextrabold.eot");
  src: url("../font/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebextrabold.woff") format("woff"), url("../font/ttf/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../font/eot/iranyekanwebblack.eot");
  src: url("../font/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebblack.woff") format("woff"), url("../font/ttf/iranyekanwebblack.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../font/eot/iranyekanwebextrablack.eot");
  src: url("../font/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../font/woff/iranyekanwebextrablack.woff") format("woff"), url("../font/ttf/iranyekanwebextrablack.ttf") format("truetype");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
   * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
   */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
   * Known issue: no IE 6 support.
   */
[hidden] {
  display: none;
}

/**
   * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
   *    `em` units.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Address `outline` inconsistency between Chrome and other browsers.
   */
a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
/**
   * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
   * 2. Improve image quality when scaled in IE 7.
   */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
   * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
   */
figure, form {
  margin: 0;
}

/**
   * Correct margin displayed oddly in IE 6/7.
   */
/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct color not being inherited in IE 6/7/8/9.
   * 2. Correct text not wrapping in Firefox 3.
   * 3. Correct alignment displayed oddly in IE 6/7.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
   * 1. Correct font size not being inherited in all browsers.
   * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
   *    and Chrome.
   * 3. Improve appearance and consistency in all browsers.
   */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
   * Address Firefox 3+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
button, input {
  line-height: normal;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
button, select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
   *    Known issue: inner spacing remains in IE 6.
   */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
   * 1. Address box sizing set to content-box in IE 8/9.
   * 2. Remove excess padding in IE 8/9.
   * 3. Remove excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
/**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
/**
   * Remove inner padding and border in Firefox 3+.
   */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * 1. Remove default vertical scrollbar in IE 6/7/8/9.
   * 2. Improve readability and alignment in all browsers.
   */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection, ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: iranyekan;
  direction: rtl;
  font-size: 13px;
  font-weight: normal;
}

a {
  text-decoration: none !important;
}

header {
  padding: 0.625rem 0;
  position: relative;
  background: #008B9A url(../img/background.png) repeat;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 4.0625rem;
}

header .content .log img {
  max-height: 4.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

header .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .left nav {
  margin-left: 2.875rem;
  z-index: 10;
}

@media only screen and (max-width: 992px) {
  header .content .left nav {
    position: fixed;
    right: -16.25rem;
    top: 0;
    background: #12373b;
    width: 16.25rem;
    height: 100vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-left: 0;
    padding: 1.25rem 0;
  }
}

header .content .left nav ul {
  margin: 0 -1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1100px) {
  header .content .left nav ul {
    margin: 0 -0.8125rem;
  }
}

@media only screen and (max-width: 992px) {
  header .content .left nav ul {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header .content .left nav ul li {
  margin: 0 1.1875rem;
}

@media only screen and (max-width: 1200px) {
  header .content .left nav ul li {
    margin: 0 0.8125rem;
  }
}

@media only screen and (max-width: 992px) {
  header .content .left nav ul li {
    margin: 0.9375rem 1.25rem;
  }
}

header .content .left nav ul li a {
  font-weight: bold;
  font-size: 1.1875rem;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  header .content .left nav ul li a {
    font-size: 0.9375rem;
  }
}

header .content .left .show__menu {
  right: 0 !important;
  z-index: 10;
}

header .content .left .search {
  border: none;
  background: transparent;
  outline: none;
}

header .content .left .mobile_menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  header .content .left .mobile_menu {
    display: block;
    margin-right: 0.9375rem;
  }
}

.new__list {
  margin-top: 2.8125rem;
  margin-bottom: 4.875rem;
  position: relative;
  background-image: url("../img/blog__background.png");
  background-repeat: no-repeat;
  background-position: left -14.3125rem bottom 19.625rem;
}

@media only screen and (max-width: 768px) {
  .new__list {
    background: none;
  }
}

.new__list .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .new__list .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.new__list .content .right {
  margin-left: 2.5rem;
  width: calc(70% - 40px);
}

@media only screen and (max-width: 1066px) {
  .new__list .content .right {
    width: calc(60% - 40px);
  }
}

@media only screen and (max-width: 768px) {
  .new__list .content .right {
    width: 100%;
    margin-left: 0;
  }
}

.new__list .content .right .items {
  margin: 0 -0.625rem;
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new__list .content .right .items .item {
  margin: 0 0.625rem;
  width: calc(50% - 22px);
  border-radius: 0.25rem;
  border: 1px solid #efefef;
}

@media only screen and (max-width: 1066px) {
  .new__list .content .right .items .item {
    width: 100%;
  }
}

.new__list .content .right .items .item .pic {
  display: inline-block;
  overflow: hidden;
}

@media only screen and (max-width: 1066px) {
  .new__list .content .right .items .item .pic {
    width: 100%;
  }
}

.new__list .content .right .items .item .pic img {
  width: 100%;
  height: 13.3125rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new__list .content .right .items .item .pic img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media only screen and (max-width: 1066px) {
  .new__list .content .right .items .item .pic img {
    height: 18.75rem;
  }
}

.new__list .content .right .items .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.625rem 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.0625rem;
  border-bottom: 0.0625rem solid #ededed;
  padding-bottom: 0.9375rem;
}

.new__list .content .right .items .item .info .date,
.new__list .content .right .items .item .info .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7c7c7c;
  font-size: 13px;
}

@media only screen and (max-width: 360px) {
  .new__list .content .right .items .item .info .date,
  .new__list .content .right .items .item .info .category {
    font-size: 10px;
  }
}

.new__list .content .right .items .item .info .date svg,
.new__list .content .right .items .item .info .category svg {
  margin-left: 0.3125rem;
}

.new__list .content .right .items .item .news__content {
  padding: 1rem;
  padding-top: 0;
}

.new__list .content .right .items .item .news__content h4 {
  font-size: 0.875rem;
  line-height: 1.6875rem;
  color: #7c7c7c;
}

.new__list .content .right .items .item .news__content h3 {
  margin-bottom: 1.25rem;
}

.new__list .content .right .items .item .news__content h3 a {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  color: #213645;
}

.new__list .content .right .items .item .news__content p {
  font-size: 0.875rem;
  line-height: 2.125rem;
  margin-bottom: 1.25rem;
  color: #7c7c7c;
  text-align: justify;
}

.new__list .content .right .items .item .news__content .more {
  display: inline-block;
  border-radius: 0.1875rem;
  background: #00adb5;
  font-weight: bold;
  font-size: 0.8125rem;
  padding: 0.625rem 1.4375rem;
  color: #fff;
  margin-bottom: 1.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new__list .content .right .items .item .news__content .more:hover {
  padding: 0.625rem 2.5rem;
  background: #12373b;
}

.new__list .content .left {
  width: 30%;
  margin-right: 1rem;
}

@media only screen and (max-width: 1066px) {
  .new__list .content .left {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .new__list .content .left {
    width: 100%;
  }
}

.new__list .content .left .search__box h5 {
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.875rem;
  color: #235087;
  margin-bottom: 1.25rem;
}

.new__list .content .left .search__box .search__input {
  width: calc(100% - 32px);
  position: relative;
}

.new__list .content .left .search__box .search__input svg {
  position: absolute;
  top: 0.875rem;
  left: 0.875rem;
}

.new__list .content .left .search__box .search__input input {
  padding: 0 1rem;
  width: 100%;
  height: 2.9375rem;
  border-radius: 0.25rem;
  background: #fff;
  margin-bottom: 3.125rem;
  border: 0.0625rem solid #e5e5e5;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.875rem;
}

.new__list .content .left .search__box .search__input input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: #e3e3e3;
}

.new__list .content .left .search__box .search__input input:-ms-input-placeholder {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: #e3e3e3;
}

.new__list .content .left .search__box .search__input input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: #e3e3e3;
}

.new__list .content .left .search__box .search__input input::placeholder {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: #e3e3e3;
}

.new__list .content .left .latest__news .title,
.new__list .content .left .latest__comments .title {
  width: 100%;
  position: relative;
}

.new__list .content .left .latest__news .title svg,
.new__list .content .left .latest__comments .title svg {
  position: absolute;
  top: 0.3125rem;
  right: -0.25rem;
  margin-bottom: 1.25rem;
}

.new__list .content .left .latest__news .title h5,
.new__list .content .left .latest__comments .title h5 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #235087;
  padding-right: 0.625rem;
  padding-top: 0.9375rem;
}

.new__list .content .left .latest__news {
  margin-bottom: 4.0625rem;
}

.new__list .content .left .latest__news .item {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #f2f2f2;
}

.new__list .content .left .latest__news .item img {
  border-radius: 0.25rem;
  width: 4.875rem;
  height: 4.9375rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.new__list .content .left .latest__news .item .detail {
  margin-right: 0.9375rem;
}

.new__list .content .left .latest__news .item .detail h6 a {
  display: inline-block;
  line-height: 1.625rem;
  color: #213645;
}

.new__list .content .left .latest__news .item .detail .date {
  font-size: 0.875rem;
  line-height: 2.5rem;
  color: #b2b2b2;
}

.new__list .content .left .latest__news .item .detail .date svg {
  margin-left: 0.375rem;
}

.new__list .content .left .latest__news .item:last-child {
  border-bottom: 0;
}

.new__list .content .left .latest__comments .list__item {
  position: relative;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.new__list .content .left .latest__comments .list__item svg {
  position: absolute;
  right: 0;
  top: 0.625rem;
}

.new__list .content .left .latest__comments .list__item p {
  margin-right: 1.875rem;
  margin-top: 1.5625rem;
  max-width: 11.75rem;
  height: 3.0625rem;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .new__list .content .left .latest__comments .list__item p {
    max-width: 100%;
  }
}

.new__list .content .left .latest__comments .list__item p a {
  display: inline;
  line-height: 1.625rem;
  color: #213645;
  font-size: 0.8125rem;
}

.new__list .page__navigation {
  direction: ltr;
}

.new__list .page__navigation ul {
  padding: 0.75rem 1.625rem;
  background: #10265D;
  border-radius: 2.1875rem;
}

@media only screen and (max-width: 420px) {
  .new__list .page__navigation ul {
    padding: 0.75rem 0.9375rem;
  }
}

.new__list .page__navigation ul li {
  min-width: 1.9375rem;
  height: 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.15625rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new__list .page__navigation ul li:hover {
  border-radius: 0.125rem;
  background: #008B9A;
}

.new__list .page__navigation ul li a {
  font-size: 1.1875rem;
  line-height: 1.625rem;
  color: #fff;
}

.new__list .page__navigation ul .pervious__svg {
  margin-right: 2.5rem;
  margin-left: 0;
}

.new__list .page__navigation ul .pervious__svg:hover {
  border-radius: none;
  background: none;
}

@media only screen and (max-width: 420px) {
  .new__list .page__navigation ul .pervious__svg {
    margin-right: 0.625rem;
  }
}

.new__list .page__navigation ul .next__svg {
  margin-left: 2.5rem;
  margin-right: 0;
}

.new__list .page__navigation ul .next__svg:hover {
  border-radius: none;
  background: none;
}

@media only screen and (max-width: 420px) {
  .new__list .page__navigation ul .next__svg {
    margin-left: 0.625rem;
  }
}

.new__list .page__navigation ul .active {
  border-radius: 0.125rem;
  background: #008B9A;
}

footer {
  width: 100%;
  background: #008B9A url(../img/background.png) repeat;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.375rem 0;
}

@media only screen and (max-width: 1200px) {
  footer .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .content .logo {
  display: inline-block;
  margin-left: 1.625rem;
}

@media only screen and (max-width: 1200px) {
  footer .content .logo {
    width: 100%;
    text-align: center;
  }
}

footer .content .quick__access {
  min-width: 5.0625rem;
  margin-left: 2.625rem;
}

@media only screen and (max-width: 1200px) {
  footer .content .quick__access {
    width: calc(25% - 42px);
    margin: 3.125rem 0;
  }
}

@media only screen and (max-width: 450px) {
  footer .content .quick__access {
    width: 50%;
    margin: 0.9375rem 0;
  }
}

footer .content .quick__access li {
  font-size: 0.9375rem;
  line-height: 2.5rem;
}

footer .content .quick__access li a {
  color: #fff;
}

footer .content .contact {
  margin-left: 2.625rem;
  width: 18.75rem;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  footer .content .contact {
    width: 100%;
  }
}

footer .content .contact address {
  margin-bottom: 1rem;
}

footer .content .contact a {
  color: #fff;
  line-height: 2.5rem;
}

footer .social {
  width: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  footer .social {
    width: 30%;
  }
}

@media only screen and (max-width: 850px) {
  footer .social {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  footer .social {
    width: 80%;
  }
}

footer .social li {
  width: 1.6875rem;
  height: 1.6875rem;
}

footer .social li:hover a svg {
  fill: #213645;
}

footer .social li a {
  display: inline-block;
  width: 100%;
}

footer .social li a svg {
  fill: #fff;
}

footer .copy__right {
  color: #fff;
  text-align: center;
  padding-top: 1.125rem;
  padding-bottom: 1.375rem;
  background: #038896;
  line-height: 2.5rem;
}

footer .copy__right a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */