@import "_font";
@import "_reset";
@import "_variable";

@mixin mq($size) {
  @media only screen and (max-width: $size+px) {
    @content;
  }
}
// px to rem function
@function rem($size) {
  @return $size / 16px * 1rem;
}
body {
  font-family: $mainFont;
  direction: rtl;
  font-size: $fontsize;
  font-weight: $fontweight;
}
a {
  text-decoration: none !important;
}
header {
  padding: rem(10px) 0;
  position: relative;
  background: $green100 url(../img/background.png) repeat;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: rem(65px);
    .log {
      img {
        max-height: rem(70px);
        object-fit: cover;
      }
    }
    .left {
      display: flex;
      align-items: center;
      nav {
        margin-left: rem(46px);
        z-index: 10;
        @include mq(992) {
          position: fixed;
          right: rem(-260px);
          top: 0;
          background: $green200;
          width: rem(260px);
          height: 100vh;
          transition: all 0.5s;
          margin-left: 0;
          padding: rem(20px) 0;
        }
        ul {
          margin: 0 rem(-19px);
          display: flex;
          align-items: center;
          @include mq(1100) {
            margin: 0 rem(-13px);
          }
          @include mq(992) {
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
          }
          li {
            margin: 0 rem(19px);
            @include mq(1200) {
              margin: 0 rem(13px);
            }
            @include mq(992) {
              margin: rem(15px) rem(20px);
            }
            a {
              font-weight: bold;
              font-size: rem(19px);
              color: $white;
              @include mq(1200) {
                font-size: rem(15px);
              }
            }
          }
        }
      }
      .show__menu {
        right: 0 !important;
        z-index: 10;
      }
      .search {
        border: none;
        background: transparent;
        outline: none;
      }
      .mobile_menu {
        display: none;
        @include mq(992) {
          display: block;
          margin-right: rem(15px);
        }
      }
    }
  }
}
.new__list {
  margin-top: rem(45px);
  margin-bottom: rem(78px);
  position: relative;
  background-image: url("../img/blog__background.png");
  background-repeat: no-repeat;
  background-position: left rem(-229px) bottom rem(314px);
  @include mq(768) {
    background: none;
  }
  .content {
    display: flex;
    @include mq(768) {
      flex-wrap: wrap;
    }
    .right {
      margin-left: rem(40px);
      width: calc(70% - 40px);
      @include mq(1066) {
        width: calc(60% - 40px);
      }
      @include mq(768) {
        width: 100%;
        margin-left: 0;
      }

      .items {
        margin: 0 rem(-10px);
        padding-top: rem(40px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          margin: 0 rem(10px);
          width: calc(50% - 22px);
          border-radius: rem(4px);
          border: 1px solid $gray100;
          @include mq(1066) {
            width: 100%;
          }
          .pic {
            display: inline-block;
            overflow: hidden;
            @include mq(1066) {
              width: 100%;
            }
            img {
              width: 100%;
              height: rem(213px);
              object-fit: cover;
              transition: all 0.5s;
              &:hover {
                transform: scale(1.03);
              }
              @include mq(1066) {
                height: rem(300px);
              }
            }
          }
          .info {
            display: flex;
            margin: rem(10px) rem(15px);
            align-items: center;
            justify-content: space-between;
            border-radius: rem(1px);
            border-bottom: rem(1px) solid $gray200;
            padding-bottom: rem(15px);
            .date,
            .category {
              display: flex;
              align-items: center;
              color: $gray300;
              font-size: $fontsize;
              @include mq(360) {
                font-size: 10px;
              }
              svg {
                margin-left: rem(5px);
              }
            }
          }
          .news__content {
            padding: rem(16px);
            padding-top: 0;
            h4 {
              font-size: rem(14px);
              line-height: rem(27px);
              color: $gray300;
            }
            h3 {
              margin-bottom: rem(20px);
              a {
                font-weight: bold;
                font-size: rem(14px);
                line-height: rem(25px);
                color: $blue100;
              }
            }
            p {
              font-size: rem(14px);
              line-height: rem(34px);
              margin-bottom: rem(20px);
              color: $gray300;
              text-align: justify;
            }
            .more {
              display: inline-block;
              border-radius: rem(3px);
              background: $blue200;
              font-weight: bold;
              font-size: rem(13px);
              padding: rem(10px) rem(23px);
              color: $white;
              margin-bottom: rem(20px);
              transition: all 0.5s;
              &:hover {
                padding: rem(10px) rem(40px);
                background: $green200;
              }
            }
          }
        }
      }
    }
    .left {
      width: 30%;
      margin-right: rem(16px);
      @include mq(1066) {
        width: 40%;
      }
      @include mq(768) {
        width: 100%;
      }
      .search__box {
        h5 {
          font-weight: bold;
          font-size: rem(19px);
          line-height: rem(30px);
          color: $blue300;
          margin-bottom: rem(20px);
        }
        .search__input {
          width: calc(100% - 32px);
          position: relative;
          svg {
            position: absolute;
            top: rem(14px);
            left: rem(14px);
          }
          input {
            padding: 0 rem(16px);
            width: 100%;
            height: rem(47px);
            border-radius: rem(4px);
            background: $white;
            margin-bottom: rem(50px);
            border: rem(1px) solid $gray400;
            font-weight: bold;
            font-size: rem(15px);
            line-height: rem(30px);
            &::placeholder {
              font-weight: bold;
              font-size: rem(15px);
              line-height: rem(30px);
              color: $gray500;
            }
          }
        }
      }
      .latest__news,
      .latest__comments {
        .title {
          width: 100%;
          position: relative;
          svg {
            position: absolute;
            top: rem(5px);
            right: rem(-4px);
            margin-bottom: rem(20px);
          }
          h5 {
            font-weight: bold;
            font-size: rem(18px);
            line-height: rem(30px);
            color: $blue300;
            padding-right: rem(10px);
            padding-top: rem(15px);
          }
        }
      }
      .latest__news {
        margin-bottom: rem(65px);
        .item {
          padding-bottom: rem(20px);
          padding-top: rem(20px);
          display: flex;
          align-items: center;
          border-bottom: rem(1px) solid $gray700;
          img {
            border-radius: rem(4px);
            width: rem(78px);
            height: rem(79px);
            overflow: hidden;
            object-fit: cover;
          }
          .detail {
            margin-right: rem(15px);
            h6 {
              a {
                display: inline-block;
                line-height: rem(26px);
                color: $blue100;
              }
            }
            .date {
              font-size: rem(14px);
              line-height: rem(40px);
              color: $gray600;

              svg {
                margin-left: rem(6px);
              }
            }
          }
        }
        .item:last-child {
          border-bottom: 0;
        }
      }
      .latest__comments {
        .list__item {
          position: relative;
          padding-bottom: rem(20px);
          border-bottom: rem(1px) solid $gray700;
          width: fit-content;
          svg {
            position: absolute;
            right: 0;
            top: rem(10px);
          }
          p {
            margin-right: rem(30px);
            margin-top: rem(25px);
            max-width: rem(188px);
            height: rem(49px);
            overflow: hidden;
            @include mq(768) {
              max-width: 100%;
            }

            a {
              display: inline;
              line-height: rem(26px);
              color: $blue100;
              font-size: rem(13px);
            }
          }
        }
      }
    }
  }
  .page__navigation {
    direction: ltr;
    ul {
      padding: rem(12px) rem(26px);
      background: $blue500;
      border-radius: rem(35px);
      @include mq(420) {
        padding: rem(12px) rem(15px);
      }
      li {
        min-width: rem(31px);
        height: rem(31px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 rem(2.5px);
        transition: all 0.5s;
        &:hover {
          border-radius: rem(2px);
          background: $green100;
        }
        a {
          font-size: rem(19px);
          line-height: rem(26px);
          color: $white;
        }
      }
      .pervious__svg {
        margin-right: rem(40px);
        margin-left: 0;
        &:hover {
          border-radius: none;
          background: none;
        }
        @include mq(420) {
          margin-right: rem(10px);
        }
      }
      .next__svg {
        margin-left: rem(40px);
        margin-right: 0;
        &:hover {
          border-radius: none;
          background: none;
        }
        @include mq(420) {
          margin-left: rem(10px);
        }
      }
      .active {
        border-radius: rem(2px);
        background: $green100;
      }
    }
  }
}
footer {
  width: 100%;
  background: $green100 url(../img/background.png) repeat;
  .content {
    display: flex;
    align-items: center;
    padding: rem(54px) 0;
    @include mq(1200) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .logo {
      display: inline-block;
      margin-left: rem(26px);
      @include mq(1200) {
        width: 100%;
        text-align: center;
      }
    }
    .quick__access {
      min-width: rem(81px);
      margin-left: rem(42px);
      @include mq(1200) {
        width: calc(25% - 42px);
        margin: rem(50px) 0;
      }
      @include mq(450) {
        width: 50%;
        margin: rem(15px) 0;
      }
      li {
        font-size: rem(15px);
        line-height: rem(40px);
        a {
          color: $white;
        }
      }
    }
    .contact {
      margin-left: rem(42px);
      width: rem(300px);
      overflow: hidden;
      font-size: rem(14px);
      line-height: rem(30px);
      color: $white;
      @include mq(1200){
        width: 100%;
      }
      address {
        margin-bottom: rem(16px);
      }
      a {
        color: $white;
        line-height: rem(40px);
      }
    }
  }
  .social {
    width: rem(70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include mq(1200) {
      width: 30%;
    }
    @include mq(850) {
      width: 50%;
    }
     @include mq(480) {
      width:80%;
    }
    li {
      width: rem(27px);
      height: rem(27px);
      &:hover {
        a {
          svg {
            fill: $blue100;
          }
        }
      }
      a {
        display: inline-block;
        width: 100%;
        svg {
          fill: $white;
        }
      }
    }
  }

  .copy__right {
    color: $white;
    text-align: center;
    padding-top: rem(18px);
    padding-bottom: rem(22px);
    background: $green300;
    line-height: rem(40px);
    a {
      color: $white;
    }
  }
}
